.cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary);
}

.img{
    width: 25px;
    height: 25px;

}

.pesquisa{
    display:flex;
    align-items: center;
    width: 70%;
    background-color: white;
}
.pesquisa img{
    width: 20px;
    height: 20px;

}

.pesquisa input {
    width: 100%;
    
    border: none;
    outline: none;
    background: transparent;
    
    color: var(--text);
    font-size: 15px;
}